/* removes the browsers default settings for padding, margin, and box-sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the background color and default font-size of the webpage */
body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/* sets the padding, font, font color and background color of the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets the display type and font size of h1 elements in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the font color of three leters in the logo of the webpage */
header h1 .seo {
    color: #d9dcd6;
}

/* rules for header's nav element */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove the list style from the nav bar's unordered list */
header nav ul {
    list-style-type: none;
}

/* sets the display type and margin for the nav bar's list items */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the color and removes the underline from links in the nav bar's list */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the width, display type and left margin of the main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* background image now included in html and selected by id */
#hero {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}

/* elements with float-left class float left and have a right margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* elements with float-right class float right and have a left margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* styles for the info card class */
.info-card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles for images with containers possessing the info-card class */
.info-card img {
    max-height: 200px;
}

/* styles for h2 headings contained in info-card class containers */
.info-card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles for the aside element with benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles for div elements in the container with the benefits class */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles h3 elements that are the children of div elements contained in the aside */
.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles for the images contained in the child div elements of the aside classed benefits */
.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* stytles for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* styles for the h4 heading element in the footer */
footer h4 {
    font-size: 20px;
}
